<h2>Lofwyr</h2>

<img src="http://www.shadowiki.de/images/thumb/8/81/Lofwyr_in_Menschengestalt_by_Jason_Juta.png/180px-Lofwyr_in_Menschengestalt_by_Jason_Juta.png">
<img src="http://www.shadowhelix.de/images/thumb/f/fc/Lofwyr_und_seine_direkten_Untergebenen.JPG/200px-Lofwyr_und_seine_direkten_Untergebenen.JPG">

<p>Lofwyr is a Great Western Dragon. His scale coloration is gold. He is primarily known for being the solitary owner of
    Saeder-Krupp and thus the wealthiest individual on Earth. His main residence is located within Saeder-Krupp arcology
    in Essen, Germany. He prefers a metahuman form of a Caucasian human with long steel-grey hair and golden eyes.
    He is the owner of the Jewel of Memory, an artifact that is significant to dragonkind in some way.
    His name is respected and feared all over the world, and it is his plots and actions that inspired the saying,
    "Never deal with a Dragon".
    </p>

<p>
    He has had a long-standing (albeit one-sided) conflict with former BMW chairwoman Wilhelmina Graff-Beloit,
    who had a massive stroke on the same day Nachtmeister and Lofwyr battled over Frankfurt. Graff-Beloit died six months later.
    It is rumored that Johnny Spinrad is continuing her crusade against him.
</p>