<h2>Harlequin</h2>

<img src="https://s-media-cache-ak0.pinimg.com/236x/9f/ca/54/9fca54bcbb87d6d0494bdea222afa976.jpg">

<p>
    Harlequin, aka Har'lea'quinn, Caimbuel, or Quentin 'Quinn' Harlech,
    is one of the most powerful individuals in the Sixth World.
    He is an immortal elf who has frequently fought the Horrors,
    and has so far kept them from prematurely entering the Sixth World.
    He believes that in another 2,500 years, metahumanity will have developed both the magic
    and the technology to defend against the Horrors. He has been described as the embodiment
    of chaos — unpredictable, mercurial, and usually quite detached. He is a reluctant knight,
    not wanting to save the world, but often knowing he is the only one in a position who can do so.
    He is a frequent commentator on Shadowland under the moniker "Laughing Man" with the signature "Ha! Fraggin' Ha!".
    His comments tease by providing enigmatic hints, but never the full truth. He fully believes that people should
    find out the truth for themselves and never by merely accepting what is told. Under his older Matrix handle of "-H-",
    he once posted an ominous message about wraiths.
</p>

<p>
    He resides at the Château d'If, off the coast of France.
</p>