<h2>Bull</h2>

<img src="http://cdn.obsidianportal.com/assets/150928/Ork_Hacker_4_-_Bull.jpg">

<p>
    William “Bull” MacCallister is an ork decker, Shadowtalker on Shadowland, SysOp of Jackpoint,
    and a legendary shadowrunner. He has the title of “the Best Ork Decker You Never Met.”
    He is the star of a number of Matrix games loosely inspired by several runs in which he participated in.
</p>

<p>
    Born in 2032 in Chicago as a human. In 2039 he lost his parents in the bombing of Sears Tower,
    in which he was also falsely presumed to be a victim of. He grew up as a SINless orphan in the
    Noose and gobalinized a few years later.
</p>

<p>
    Bull started to run the shadows with an Amerind Coyote shaman named Johnny 99 in Chicago.
    Sometime in the 2050’s he slighted Kyle Morgan, who put Bull into an elaborate death trap and
    recorded Bull’s escape, which jump started Bull’s Shadowrunning career. Around this time a number
    of Matrix games started to come out which parodied a number of run’s Bull was involved in.
</p>

<p>
    In 2055 Bull, Johnny 99 and Bull’s family were trapped within the Chicago Containment Zone for a year.
    Presumably around this time is when he had his two children Rebecca and William Jr, twins.
    He made a deal with Harlequin to get himself and his family out of the CZ, but in return Johnny
    99 was sacrificed to slow the approach of the horrors[1].
</p>

<p>
    In 2056 he led a team of runners against an Ares’ building in Hong Kong.
</p>

<p>
    He retired in 2063 (Or sometime shortly after Year of the Comet) and was able to avoid the Matrix Crash 2.0 entirely.
</p>

<p>
    In 2073 Rebecca MacCallister is murdered by the Copycat Killer, whom was copying the Mayan Cutter.
    Because of Rebecca’s research and support seeing the Ork Underground becoming a district of Seattle,
    Bull joined Project Freedom to see her wishes come true in her memory.
</p>

<p>
    In 2074 Fastjack made Bull one of 3 SysOps for Jackpoint.
</p>

